ion-toolbar{
  --background: rgb(99, 12, 58);
  --color: rgb(212, 194, 203);

      
  form {
    padding:20px;
    background-color: #e09ecac0;
    border-color: rgb(90, 7, 49);
    height: 90%;
    border-style: solid;
  }
  ion-title {
    padding:20px;
    background-color: #e09ecac0;
    border-color: rgb(90, 7, 49);
    border-style: solid;
  }
  ion-label{
    background-color: #e09ecac0; 

  }
    
  ion-footer{
    padding:20px 20px 20px 20px;
    background-color:  #e09ecac0;
    color: rgb(161, 62, 109);
    border-color: rgb(90, 7, 49);
    border-style: solid;
  }
  ion-button{
      background-color:  #3a0729c0;
  }

  .mensaje{
    background-color:rgb(201, 231, 26);
    color: black;
    text-transform: uppercase; /*Utilidades scss*/
    font-size: 11px; 
    text-align: center; /*Utilidades scss*/
  }
} 