<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button color="default" (click)="goToLogin()">
        <ion-icon slot="icon-only" ios="caret-back-outline" md="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resgisterForm" (ngSubmit)="resgister(resgisterForm.value)">
   
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>

    <ion-button 
    shape="round" 
    expand="full" 
    type="submit"
    >Registrarse</ion-button>

  </form>
</ion-content>
